.container{
    width: 1000px;
    height: 600px;
    background-color: #eee;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.character{
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 100%;
    transition: 0.1s;
    display: inline-block;   
    margin-right: -50px;


}
 body{background-color: rgb(39, 31, 31);} 