.container{
    width: 1500px;
    height: 800px;
    background-color: #eee;
    margin: auto;
    overflow: hidden;
    padding: 0;
}
.character{
    position: absolute;
    z-index:100;
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 100%;
    transition: 0.4s;
    display: inline-block;   
}
.food{
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index:5;
    width: 20px;
    border-radius: 100%;
    transition: 0.4s;
    height: 20px;
    display: inline-block;
}
 body{background-color: rgb(39, 31, 31);} 